<h3>
<a ui-sref="home.assessments" >Trip</a> <small></small>
	<span class="pull-right">
		
	</span>
</h3>
<div class="panel panel-default">
  <form name="myForm">
    <div class="panel-heading">
      <span class="pull-left">
    
      </span>
      <span class="pull-right">
      	<a ui-sref="home.assessments" class="btn btn-info"><i class="fa fa-angle-left"></i> Back To Search</a>
      </span>		
    </div>
    <div class="panel-body">
      <div class="form-group">
         <div class="form-group" ng-repeat="(key, value) in vm.assessment">
            <label class="control-label">{{value.doc.assessmentName}}</label>
            <div class="form-group" ng-repeat="(k, val) in value.doc.subtestData">
              <label ng-if="val.name == 'After lesson observation' || val.name == 'Lesson observation' || val.name == 'During observation' || val.name == 'Date and Time' || val.name == 'Classroom Demographics' || val.name == 'Class demographics' || val.name == 'Feedback session' || val.name == 'Assessors General Comments' || val.name=='During reading observation' || val.name=='Remarks after observation' || val.name == 'School Location'" class="control-label">{{val.name}}</label>
               <div>
                <table ng-if="val.name == 'School Location'" class="table table-reponsive table-striped table-condensed">
                  <thead>
                    <tr>
                      <th>County</th>
                      <th>Zone</th>
                      <th>School</th>
                    </tr>
                  </thead>
                  <tr>
                    <td>{{vm.county.label}}</td>
                    <td>{{vm.zone.label}}</td>
                    <td>{{vm.school.label}}</td>
                  </tr>
                </table>
              </div>
              <div>
                <table ng-if="val.name == 'After lesson observation' || val.name == 'Lesson observation' || val.name == 'Date and Time' || val.name == 'During observation' || val.name == 'Classroom Demographics' || val.name == 'Class demographics' || val.name == 'Feedback session' || val.name=='During reading observation' || val.name=='Remarks after observation' || val.name == 'Assessors General Comments'" class="table table-reponsive table-striped table-condensed">
                  <thead>
                    <tr>
                      <th>Question</th>
                      <th>Response</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="(ky, valSubtest) in val.data">
                    <td>{{ky}}</td>
                    <td>{{valSubtest}}</td>
                  </tr>
                </table>
              </div>
            </div> 
         </div>
      </div>
      <br>
    	<div class="form-group">
    		<textarea name="comments" ng-model="vm.notes" placeholder="Comments" rows="5" class="form-control"></textarea>
    	</div>
      <hr>
      <!--<div class="form-group">
        <label><input type="checkbox" name="send" value="true" ng-model="vm.show" ng-click="vm.allowSend()">&nbsp;Forward Assessment To Email</label>
      </div>

      <div class="form-group" ng-show="vm.show">
        <input type="email" name="email" class="form-control" ng-model="vm.email" autocomplete="off" placeholder="Enter email address(es) to foward the assessment">
      </div>-->
    </div>
    <div class="panel-footer">
    	<span>
    		<!--<button ng-click="vm.save()" class="btn btn-primary">Save Comments</button>-->
        <button ng-click="vm.exportToWord()" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
        <!--<button ng-show="vm.show" ng-click="vm.sendEmail()" class="btn btn-warning"><i class="fa fa-envelope-o"></i> Send Email</button>-->
    	</span>
    </div>
  </form>
</div>