<h2>Edit Zone</h2>
<hr>
<div>
<form name="myForm" ng-submit="vm.save()">
	<div class="form-group">
		<input type="text" name="name" ng-model="vm.name" class="form-control" autocomplete="off" required>
	</div>
	<div class="form-group">
			<input type="number" name="quota" class="form-control" ng-model="vm.quota" placeholder="Quota" autocomplete="off" required>
	</div>
	<br/>
	<span class="pull-left">
		<button type="submit" class="btn btn-primary" ng-disabled="myForm.$invalid">Update</button>
	</span>
	<span class="pull-right">
		<a ui-sref="location.listZone({county:vm.countyId, subcounty:vm.subId})" class="btn btn-sm btn-default">Back</a>
	</span>
</form>
</div>