<h2>Add Zone</h2>
<hr>
<div>
	<form name="myForm" ng-submit="vm.save()">
		<div class="form-group">
			<input type="text" name="county" class="form-control" ng-model="vm.name" placeholder="Zone Name" autocomplete="off" required>
		</div>
		<div class="form-group">
			<input type="number" name="code" class="form-control" ng-model="vm.code" placeholder="Zone Code" autocomplete="off" required>
		</div>
		<div class="form-group">
			<input type="number" name="quota" min="0" class="form-control" ng-model="vm.quota" placeholder="Quota" autocomplete="off" required>
		</div>
		<div class="form-group">
			<input type="number" name="teachers" min="0" class="form-control" ng-model="vm.teachers" placeholder="Teachers" autocomplete="off" required>
		</div>
		<br/>
		<span class="pull-left">
			<button class="btn btn-primary" type="submit" ng-disabled="myForm.$invalid">Submit</button>
		</span>
		<span class="pull-right">
			<a ui-sref="app.location.listZone({county:vm.countyId, subcounty:vm.subId})" class="btn btn-sm btn-default">Back</a>
		</span>
	</form>
</div>
