<h2>Add Zone</h2>
<div>
	<form name="myForm" ng-submit="vm.save()">
		<div class="form-group">
			<input type="text" name="county" class="form-control" ng-model="vm.name" placeholder="Zone Name" autocomplete="off" required>
		</div>
		<div class="form-group">
			<input type="number" name="code" class="form-control" ng-model="vm.code" placeholder="Zone Code" autocomplete="off" required>
		</div>
		<br/>
		<button class="btn btn-primary" type="submit" ng-disabled="myForm.$invalid">Submit</button>
	</form>
</div>
