<h3>CSV Export</h3>
<form role="form" ng-submit="vm.download()" name="csvForm">
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">CSV Export</h3>
	</div>
	<div class="panel-body">
		<div>
			Select the instrument, year and month that you would like to generate
		</div>
		<div>
			Your download will begin immediately once the data is available.
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-sm-3">
				<select class="form-control" ng-model="vm.workflow" name="workflow">
					<option ng-repeat="(key, workflow) in vm.workflows.rows">{{workflow.id}}</option>
				</select>
			</div>
			<div class="col-sm-2">
				<select class="form-control" ng-model="vm.year" name="year">
					<option value="2015">2015</option>
					<option value="2016">2016</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
				</select>
			</div>
			<div class="col-sm-2">
				<select class="form-control" ng-model="vm.month">
					<option value="1">January</option>
					<option value="2">February</option>
					<option value="3">March</option>
					<option value="4">April</option>
					<option value="5">May</option>
					<option value="6">June</option>
					<option value="7">July</option>
					<option value="8">August</option>
					<option value="9">September</option>
					<option value="10">October</option>
					<option value="11">November</option>
					<option value="12">December</option>
				</select>
			</div>
			<span>
				<button type="submit" class="btn btn-primary"><i class="fa fa-file-excel-o"></i> Export</button>
			</span>

		</div>

	</div>
	<div class="panel-footer">
		&nbsp;
	</div>
</div>
</form>